.MenuItem {
    font-family: 'VT323', monospace;
    list-style-type: none;
    color: #1e4b87;
    font-family: 'VT323', monospace;
}

.ItemDescription {
    font-family: 'VT323', monospace;
    z-index: 10;
    position: relative;
    display: inline-block;
    border-color: white;
    background-color: blue;
    padding: 15px;
    color: white;
     
}

.Comment {
    font-family: 'VT323', monospace;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    border: 1px solid black;
    border-width: 1px;
    padding-left: 15px;
}

.Toprow {
    display: flex;
    flex-direction: row;
    font-family: 'VT323', monospace;
    background-repeat: no-repeat;
	background-color: white;
	background-position: center bottom;
	background-attachment: fixed;
	border-radius: 20px
}

p {
    margin: 4px 0px;
}

h4 {
    margin: 0px;
}

h3 {
    margin: 5px;
    margin-right: 0px;
}

.Selectors {
    margin: 5px;
    font-family: 'VT323', monospace;
}

.button3{
    display: inline-block;
    padding:0.3em 1.2em;
    font-size: large;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    background-color:rgb(238, 162, 20);
    text-align:center;
    transition: all 0.1s;
    font-family: 'VT323', monospace;
    background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;
	margin-top: 50px;
    margin-bottom: 25px;
	border-radius: 20px;
    border-color: rgb(188, 221, 40)



}
.button3:hover{
    background-color:rgb(243, 186, 79);
}

.dininghallinfo {
    font-family: 'VT323', monospace;
}