.MenuItem {
    list-style-type: none;
    color: #1e4b87
}

.ItemDescription {
    z-index: 10;
    position: relative;
    display: inline-block;
    border-color: white;
    background-color: blue;
    padding: 15px;
    color: white;
}

.Comment {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;

    border: solid;
    border-width: 1px;
}

.Toprow {
    display: flex;
    flex-direction: row;
}

p {
    margin: 4px 0px;
}

h4 {
    margin: 0px;
}

h3 {
    margin: 5px;
    margin-right: 0px;
}

.Selectors {
    margin: 5px
}

.button3{
    display: inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
.button3:hover{
    background-color:#4095c6;
}
