.loginpage {
  font-family: 'VT323', monospace;
  background-repeat: no-repeat;
	background-color: white;
	background-position: center bottom;
	background-attachment: fixed;
	margin-top: 100px;
	border-radius: 20px;
}


.loginButton {
  background-color: blue;
  color: white;
  border-color: blue;
  padding: 5px 12px;
  margin-top: 10px
}

