
.menubar {
  font-family: 'VT323' monospace;
  height: 50%;
  display: flex;
  flex-direction: row;
  background-color: lightskyblue;
  background-size: 100%;
  position: relative;
  box-shadow: 5px 6px black;
  border: 2px solid black;
  color: white;
  align-items: center;
  
}

.searchBar{

  font-family: 'VT323', monospace;
  text-align: right;
  position: relative;

}

.searchButton{

  background-position: center;
  background-size: 90%;
  position: relative;
  border: 2px black;
}

ul {
  font-family: 'VT323', monospace;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  background-color: lightskyblue;
  color: black;
}

.title{
  font-family: 'VT323', monospace;
  padding-left: 15px;
  padding-right: 15px;
}

.welcome{
  font-family: 'VT323', monospace;
  margin-left: auto;
  padding: 20px;
}

.linkLookalike {
  font-family: 'VT323', monospace;
  background: none!important;
  border: none;
  padding: 0!important;
  color: black; 
  text-decoration: underline;
  cursor: pointer;
  font-size: medium;
}





