.reviewpage {
  font-family: 'VT323', monospace;
  background-repeat: no-repeat;
	background-color: white;
	background-position: center bottom;
	background-attachment: fixed;
	margin-top: 100px;
	border-radius: 20px;
}

.reviewbox {
    background: white;
		border: 2px solid rgb(153, 157, 161);    
		height: 175px;
		width: 500px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 6px 7px black;
}

.reviewfont {
  font-family: 'VT323', monospace;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}