.searchpage {
    font-family: 'VT323', monospace;
    background-repeat: no-repeat;
      background-color: white;
      background-position: center bottom;
      background-attachment: fixed;
      margin-top: 100px;
      border-radius: 20px;
  }
  
  
  .searchButton {
    background-color: rgb(238, 162, 20);
    border-color: rgb(188, 221, 40);
    color: white;
    padding: 5px 12px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }