.searchpage {
    font-family: 'VT323', monospace;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center bottom;
    background-attachment: fixed;
    margin-top: 100px;
    border-radius: 20px;
}

.searchButton {
    font-family: 'VT323', monospace;
    background-color: rgb(238, 162, 20);
    color: white;
    border-color: rgb(188, 221, 40);
    padding: 5px 12px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.searchBox {
    font-family: 'VT323', monospace;
    margin-bottom: 5px;
}
.hallCard {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    padding: 7px 40px 7px 40px;
    margin-top: 15px;
    border-radius: 5px;
}


