.row-align {
  display: flex;
  flex-direction: row;
}
.searchpage {
      font-family: 'VT323', monospace;
      background-repeat: no-repeat;
      background-color: white;
      background-position: center bottom;
      background-attachment: fixed;
      margin-top: 100px;
      border-radius: 20px;
    
}

.searchButton {
    font-family: 'VT323', monospace;
    background-color: rgb(238, 162, 20);
    color: white;
    border-color: rgb(188, 221, 40);
    padding: 5px 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.searchBox {
    font-family: 'VT323', monospace;
    margin-bottom: 5px;
}
.hallCard {
    
    font-family: 'VT323', monospace;
    background: white;
	border: 2px solid rgb(153, 157, 161);    
	height: 175px;
	width: 400px;
    padding: 5px;
    margin-bottom: 20px;
    
}

