.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dininghall {
  display: flex;
  flex-direction: column;
  border: solid;
  padding: 10px;
  margin: 10px;
  max-width: 350px;
}

img {
  width: 100%;
}

h1 {
  margin: 2px;
}

h3 {
  margin: 5px;
}