.menubar {
  display: flex;
  flex-direction: row;
  background-color: blue;
  color: white;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  background-color: white;
}